<div class="header">
  <div class="container">
    <ul class="navigation">
      <li><a class="brand" href="/">GWO</a></li>
      <li><a class="category{% if request.path == "/members" %} selected{% endif %}" href="/members">Members</a></li>
    </ul>
  </div>
</div>
