{% extends "layout.html" %}
{% block body %}
<h1>GWO {{ upcoming.0 }}</h1>
<img class="survivors" src="/static/images/{{ previous.1 }}"></img>
<div class="survivors-caption">Survivors of GWO {{ previous.0 }}.</div>
<h3><a href="/members">{{ attending }}</a> dudes are coming to GWO {{ upcoming.0 }}!</h3>
{% endblock %}
