<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GWO: Guy's Weekend Out</title>
    <link rel="stylesheet" href="/static/gwo.css">
    <script src="/static/gwo.js"></script>
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      {% block body %}{% endblock %}
    </div>
    {% include "footer.html" %}
  </body>
</html>
