{% extends "layout.html" %}
{% block body %}
<h1>Members ({{ members }})</h1>
<table class="members">
  <colgroup>
    <col style="width:15%">
    <col style="width:30%">
    <col style="width:55%">
  </colgroup>
  <tr><td class="divider" colspan="3">Yes ({{ yes | length }})</td></tr>
  {% for member in yes %}
  {% include "member.html" with member=member %}
  {% endfor %}
  <tr><td class="divider" colspan="3">Maybe ({{ maybe | length }})</td></tr>
  {% for member in maybe %}
  {% include "member.html" with member=member %}
  {% endfor %}
  <tr><td class="divider" colspan="3">Excused ({{ excused | length }})</td></tr>
  {% for member in excused %}
  {% include "member.html" with member=member %}
  {% endfor %}
  <tr><td class="divider" colspan="3">No ({{ no | length }})</td></tr>
  {% for member in no %}
  {% include "member.html" with member=member %}
  {% endfor %}
</table>
{% endblock %}
