<tr>
  <td><img src="/static/avatars/{{ member.avatar }}"></td>
  <td>{{ member.first_name }} "{{ member.nick_name }}" {{ member.last_name }} <a href="mailto:{{ member.email }}"><img class="email" src="/static/images/envelope.png"></a></td>
  <td style="text-align: left">{{ member.status }}</td>
</tr>
