html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

table {
    border: solid 2px black;
    border-collapse: collapse;
}
table td {
    border: solid 1px black;
}

/* CONTAINER */
.container {
    max-width: 900px;
    margin: 0 auto;
}
@media screen and (max-width: 964px) {
    .container {
        padding: 0 32px;
    }
}

/* HEADER */
.header {
    width: 100%;
    height: 48px;
    background-color: #F5F5F5;
}
.header .navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.header a {
    display: block;
    height: 48px;
    color: black;
    text-decoration: none;
}
.header li {
    float: left;
}
.header .brand {
    margin-right: 16px;
    font-size: 24px;
    line-height: 48px;
}
.header .category {
    padding: 0 16px;
    line-height: 50px;
}
.header .category:hover {
    background-color: #D5D5D5;
}
.header .selected, .header .selected:hover {
    background-color: #E5E5E5;
}

/* FOOTER */
.footer {
    margin: 24px 0 32px 0;
    text-align: center;
}
.footer p {
    margin: 0 auto;
    color: #5D5D5D;
    font-size: 18px;
}

/* INDEX */
.survivors {
    display: block;
    width: 512px;
    margin: 24px auto 4px auto;
    border-radius: 16px;
}
.survivors-caption {
    color: #3D3D3D;
    text-align: center;
}

/* MEMBERS */
.members {
    width: 100%;
    text-align: center;
}
.members td {
    padding: 5px 8px 1px 8px;
}
.members .divider {
    padding: 4px;
    background-color: #5D5D5D;
    color: white;
    font-weight: bold;
}
.members .email {
    height: 12px;
    margin-left: 4px;
}
